body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    overflow-x: hidden ;
}
.container1 {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    overflow-x: hidden ;
}

section {
    display: flex ;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background-color: black;
}


@keyframes leftright {
    from {left:-70vw; top:7vh;}
    to{left: 0vw; top:7vh;}
  }
@keyframes bottomup {
    from {left: 0%; top:10%;}
    to{left: 0%; top:7%;}
  }

.text {
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 7vh;
    font-size: 15vh;
    background-color: #242424;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 40vw;
    animation-name: leftright;
    animation-duration: 2s;
    left: 0%;
}
.bg {
    position: absolute;
    background-color: rgba(59, 59, 59, 0.507);
    
    max-height: 40vh;
    max-width: 66vw;

    margin-top: 50vh;
    margin-left: 18vw;

    border: none;
    border-radius: 30px;
    opacity: 1;
    transition: 2s, opacity;

}
.par {
    font-family: sans-serif;
    position: relative;
    font-size: 4.5vh;
    margin-left: 3vw;
    margin-right: 3vw;

}

.autori {
    position: absolute;
    left: 80vw;
    top: 90vh;
}
.img1 {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

}
.consiglio {
    font-family: sans-serif;

}
.bg1 {
    position: absolute;
    background-color: rgba(59, 59, 59, 0.507);
    
    max-height: 15vh;
    max-width: 15vw;

    margin-top: 5vh;
    margin-left: 70vw;

    border: none;
    border-radius: 30px;
    opacity: 1;
    transition: 2s, opacity;

}
@media screen and (min-width: 300px) and (max-width: 350px){
    .text {
        max-width: 60vw;
        height: 20vh;
        font-size: 13vw;
    }
    .img1 {
        margin-left: -170vw;
        margin-right: none;
    }
    .par {
        font-size: 5vw;
        
    }
    .autori {
        left: 6vw;
        top: 1vh;
    }
}
@media screen and (min-width: 351px) and (max-width: 400px){
    .text {
        width: 60vw;
        max-width: 65vw;
        max-height: 25vh;
        font-size: 12vw;
        left: 0vw;
    }
    .img1 {
        margin-left: -215vw;
        margin-right: none;
    }
    .par {
        font-size: 5vw;
        max-width: 80vw;
        max-height: 40vh;
        
    }
    .autori {
        left: 6vw;
        top: 1vh;
    }
}
@media screen and (min-width: 401px) and (max-width: 450px){
    .text {
        width: 60vw;
        max-width: 65vw;
        max-height: 25vh;
        font-size: 12vw;
        left: 0vw;
    }
    .img1 {
        margin-left: -220vw;
        margin-right: none;
    }
    .par {
        font-size: 5vw;
        max-width: 80vw;
        max-height: 40vh;
        
    }
    .autori {
        left: 6vw;
        top: 1vh;
    }
}
@media screen and (min-width: 451px) and (max-width: 800px){
    .text {
        
        width: 60vw;
        max-width: 65vw;
        max-height: 25vh;
        font-size: 12vw;
        left: 0vw;
    }
    .img1 {
        margin-left: -220vw;
        margin-right: none;
    }
    .par {
        font-size: 5vw;
        max-width: 80vw;
        max-height: 40vh;
        
    }
    .autori {
        left: 6vw;
        top: 1vh;
    }
}

.img {
    height: 100vh ;
    margin-left: auto;
    margin-right: auto;

}
.title {
    position:absolute;
    font-size: 60px;
    max-width: 60%;
    left: 5%;
}
.par1 {
    font-family: sans-serif;
    position: relative;
    font-size: 1.8vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.bg2 {
    position: absolute;
    background-color: rgba(59, 59, 59, 0.507);
    
    max-height: 40vh;
    max-width: 66vw;

    margin-top: 50vh;
    margin-left: 18vw;

    border: none;
    border-radius: 30px;
    opacity: 1;
    transition: 2s, opacity;

}
.title1 {
    position:absolute;
    font-size: 2vw;
    max-width: 40vw;
    left: 5vw;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);

}
.par2 {
    font-family: sans-serif;
    position: relative;
    font-size: 1.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }